<!DOCTYPE html>
<html>
  <head>
    <title>MyPops</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>
      <div class="nav-fixed container">
        <%= link_to "My Pops", root_url, class: "brand-logo" %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Links</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>
